/****************************
Mateo Rico Iglesias - UO277172
Descripción de los estilos
****************************/
/*Especificidad 001*/
header{
  background-color: red;
  color:#ffffff;
  padding: 1em;
  font-style: italic;
  text-transform: uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Especificidad 002*/
nav{
  background-color: black;
  color:white;
  padding: 1em;
}
header nav a:hover{
  color: black;
}
/*Especificidad 001*/
body {
    background-color: black;
    color:white;
    margin: 3em;
    border: 0.5em solid;
}
body main{
  padding: 1em;
}
/*Especificidad 002*/
body section{
  padding: 1em;
}
/*Especificidad 002*/
main video{
  width: 100%;
  height: auto;
}
/*Especificidad 001*/
a{
  color: white;
}
a:hover{
  color: red;
  background-color: black;
}
body main section table{
  border: 0.1em solid;
  border-color: white;
  background-color: red;
}

body main section table caption{
  color: white;
}

body main section table, th{
  border: 0.1em solid;
  border-color: white;
  color: black;
}

body main section table, td:first-child{
  border: 0.1em solid;
  border-color: white;
}

main video{
  width: 100%;
  height: auto;
}
body footer img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
body footer{
  background-color: black;
  border: 0.3em solid;
  border-color: red;
  padding: 1em;
}